// ##### Identifier Control Components ##### //

@mixin identifier-control-base-styles {
	border: none;
	border-radius: $form-element-border-radius;
	background-color: $design-primary-color;
	color: $design-white-color;
	font-size: 1.1em;
	appearance: none;
}

.identifier-controls {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
}

.identifier-control {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 20px;
	margin-bottom: 20px;

	&:not(:last-child) {
		padding-right: 20px;
	}

	label {
		@extend %hide;
	}

	button {
		@supports (appearance: none) {
			@include identifier-control-base-styles;
			padding: .5rem 1rem;
		}
	}
}

.identifier-control select {
	margin-bottom: 10px;

	@supports (appearance: none) {
		@include identifier-control-base-styles;
		min-width: 20rem;
		padding: 1rem 4.8rem;
		background-image: none, url('../images/icon_caret-down-solid.svg');
		background-repeat: no-repeat;
		background-position: left 1.7rem center, right 1.7rem center;
		background-size: 1.8rem, 1.5rem;

		&.view {
			background-image: url('../images/icon_share-all-solid.svg'), url('../images/icon_caret-down-solid.svg');
		}

		&.cite {
			background-image: url('../images/icon_quote-right-solid.svg'), url('../images/icon_caret-down-solid.svg');
		}

		&.share {
			background-image: url('../images/icon_external-link-solid.svg'), url('../images/icon_caret-down-solid.svg');
		}
	}
}

.identifier-content {
	max-width: 1000px;
	margin: 0 auto;
}
